:root{
    --very-light-pink: #C7C7C7;
    --white: #FFF;
    --text-input-field: #F7F7F7;
    --black: #000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: .75rem;
    --md: .9rem;
    --lg: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.title{
    display: none;
}

.my-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-top: 1px solid var(--very-light-pink);
}

.resume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem .75rem;
    background-color: var(--text-input-field);
    border-radius: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: .15rem;
    font-size: var(--md);
}

.description p{
    color: var(--dark);
    font-weight: 600;
}

.description span{
    color: var(--very-light-pink);
    font-size: var(--sm);
    font-weight: 500;
}

.price{
    color: var(--dark);
    font-weight: 700;
    font-size: var(--md);
}


.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: .25rem 1rem 0.5rem 1rem;
    padding: .25rem .75rem;
    border-radius: 10px;
}

li{
    list-style: none;
}


.product{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

.product img{
    margin-left: -.75rem;
    width: 60px;
    border-radius: 12px;
}

.product span{
    color: var(--very-light-pink);
    font-size: var(--md);
}

@media (min-width: 700px){
    .title{
        width: 85vw;
        display: flex;
        align-items: flex-start;
        padding: 2rem;
        color: var(--dark);
        font-size: var(--md);
        text-align: left;
    }
}
