@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/*colores*/
:root{
    --very-light-pink: #C7C7C7;
    --white: #FFF;
    --text-input-field: #F7F7F7;
    --black: #000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: 1.2rem;
    --md: 1.3rem;
    --lg: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

.form-container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 13rem;
    margin-bottom: 5rem;
}

.title{
    margin-bottom: .5rem;
    text-align: center;
    font-size: var(--md);
    font-weight: 700;
}

.subtitle{
    margin-top: 0;
    margin-bottom: 3.4rem;
    text-align: center;
    font-size: var(--md);
    font-weight: 300;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label{
    font-size: var(--md);
    font-weight: 700;
    margin-bottom: .8rem;
}

.input{
    height: 2rem;
    margin-bottom: 2rem;
    padding: .4rem;
    border: none;
    border-radius: .5rem;
    font-size: var(--md);
    background-color: var(--text-input-field);
    color: var(--text-input-field);
}

.primary-button{
    height: 4.5rem;
    margin-top: .8rem;
    background-color: var(--hospital-green);
    border: none;
    border-radius: .6rem;
    color: var(--white);
    font-size: var(--lg);
    font-weight: 700;
    cursor: pointer;
}


@media (min-width: 700px) {


    .logo{
        display: none;
    }

    .title{
        font-size: var(--lg);

    }
    
    .subtitle{
        font-size: var(--lg);
    }

    .form-container{
        width: 50vw;
    }

    .form{
        width: 45vw;
    }

    .input{
        height: 3rem;
    }
}